/* backgroundcolor from the Main Page */
html, body {
    background: #dfdfdf;
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;   /* hide the scrollbar, if content grows over the page size */
}

nav, section, footer {display: block;}

/* adjustments for all Elements - set the default parameters for all browsers to Null*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* ----------------------------------   Image   ---------------------------------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* ----------------------------------   Footer   ---------------------------------- */

footer {
    padding: 10px;
    color: #fff;
    position:absolute;         /*fixed the Footerbar on the Bottom*/
    bottom: 0;
    height:40px;
    width: 100%;
    background: #333333;
    z-index: 1;             /* Layer Position in Z-Direction - 1 = second Layer*/
    vertical-align: middle;
}

div#FooterLeft {
    float: left;
    width: 33%;
}

div#FooterLeft a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

div#FooterLeft a:hover{
    color: #60B0FF;
}

div#FooterMiddle{
    float: left;
    width: 34%;
    text-align: center;
    font-size: 16px;
}

div#FooterMiddle img{
    height: 16px;
    margin-bottom: -2px;    /* Fix --> img same line as text*/
}

div#FooterRight{
    float: right;
    width: 33%;
}

div#FooterRight a img {
    float: right;
    height: 16px;
    margin-left: 10px;
}

/* ----------------------------------   Content   ---------------------------------- */
.Content {
    background: #ffffff;
    height: calc(100% - 100px); /* calculate the Height from the Contentfield - Size from the Window - (height Nav-Bar + height Footer) */
    position: relative;
    overflow: auto;
    padding: 10px 20px 10px 20px;
}

.Content h1{
    text-align: center;
}

/* ----------------------------------   Button   ---------------------------------- */
.Content button{
    font-size: 16px;
    text-align: center;
    background-color: #003F70;
    padding: 10px;
    text-decoration: none;  /* delete underline from the links */
    color: white;
    border-radius:10px;
}

.Content button:hover{
    color: #60B0FF;
}

.Content button i{
    margin: 0 5px 0 5px;
}

/* ----------------------------------   Content Events   ---------------------------------- */
.ContentEvents {
    position: relative;
    width: 100%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #CECECE;
    border-radius: 3px;
    overflow: hidden;
}

.ContentEvents img{
    margin-left: 1%;
    width: 30%;
    float: right;
}

.ContentEvents p{
    margin-top: 1%;
}
.ContentEvents button{
    margin: 0;
}

.ContentEvents form{
    float: left !important;
    width: auto;
    margin-top: 1%;
    /*Ich weiß, dass ist alles russisch aber hab es nicoht anders hinbekommen:D*/
}

/* ----------------------------------   Error - Page   ---------------------------------- */
.ErrorPage{
    text-align: center;
}

.ErrorPage h1{
    margin-top: 10%;
}

/* ----------------------------------   Site - Picture   ---------------------------------- */
.SitePicture {
    height: calc(100% - 100px); /* calculate the Height from the Picture - Size from the Window - (height Nav-Bar + height Footer) */
    position: relative;
    overflow:hidden;
    width:30%;
    float: left;
}

.SitePicture img {
    height: 100%;
    width: 100%;
}

/* ----------------------------------   Animation  ---------------------------------- */
div#fadeInIndexPage {
    animation: animationFadeIn ease 3s;
}

div#fadeIn {
    animation: animationFadeIn ease 3s;
}

div#fadeInImg {
    animation: animationFadeIn ease 1.5s;
}

@keyframes animationFadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* ----------------------------------   Form Fields  ---------------------------------- */
form {
    width: 80%;
    max-width: 40em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

form h1{
    text-align: center;
}

form h5{
    text-align: center;
}

form img{
    float: right;
    margin-top: 20px;
}

form a:hover  {
     color: #60B0FF;
}

form input, form textarea, form select {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 12px 20px;
    margin: 5px 0 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #CECECE;
    border-radius: 3px;
}

form input:hover{
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}

form input:focus, form select:focus{
    border-left: solid;
    border-left-width: 4px;
    border-left-color: #2e62ff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

form textarea {
    height: 300px;
    resize: vertical;
}

form i{
    color: #60B0FF;
    margin-left: 10px;
}

form [type="file"] {
    padding: 0;
    border-style: none;
     color: #60B0FF;
 }

form [type="file"]:hover {
    box-shadow: none;
}

/* redesign the Date-Type for Input-Fields */
form [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

form [type="date"]::-webkit-inner-spin-button {
    display: none;
}

form [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

form label {
    float: left;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
}

form button{
     float: right;
     margin: 5px 0 5px 10px;
}
/* ----------------------------------   Tabelle   ---------------------------------- */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px auto 0 auto;
    border-style: groove;
    border-width: 1px;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:hover, tr:nth-child(even):hover{
    background-color: #60B0FF;
    color:white;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

th {
    background-color: #334D66;
    color: white;
}

table input{
    display: inline;
    padding: 5px;
}

table input:hover{
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}


/* ----------------------------------   pictureRaster   ---------------------------------- */
.pictureRaster{
    margin: 30px auto 0 auto;
    width:80%;
}

.pictureRaster ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(100%/6));
    grid-auto-rows: 200px;
    list-style: none;
}

.pictureRaster ul img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 3px;
}

.pictureRaster p{
    width: 90%;
    margin: 10px auto 10px auto;
    text-align: justify;
}

/* ----------------------------------   UeberUnsPage   ---------------------------------- */
.usPage h1{
    margin-bottom: 1%;
}

/* ----------------------------------   UserPage   ---------------------------------- */
.userPageBox{
    width: 100%;
    max-width: 50em;
    margin-left:auto ;
    margin-right: auto;
}

.userPageBox h5{
    text-align: center;
}

.userBox{
    display: block;
    width: 100%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #CECECE;
    border-radius: 3px;
    overflow: hidden;
}
.userBox:hover{
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}

.userBox p{

}

.userBox img{
    width: 20%;
    float: right;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}

.userBox h1{
    font-size: 20px;
    text-align: left;
}

/* ----------------------------------   Filter Sortieren   ---------------------------------- */

.filterBox{
    display: flex;
    width:100%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

.filterBox .sortFilterBox{
margin-right: 10px;
}

.filterBox .sortFilterBox label{
      font-size: 12px;
}

.filterBox .sortFilterBox select{
    background-color: #ffffff;
    width: 100%;
    height: 30px;
    font-size: 14px;
    margin: 5px 0 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #CECECE;
    border-radius: 3px;
}

.filterBox .sortFilterBox select:hover{
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}
.filterBox .sortFilterBox select:focus{
    border-left: solid;
    border-left-width: 4px;
    border-left-color: #2e62ff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.checkBox{
    font-size: 14px;
    display: block;
    padding: 5px;
}

.checkBox input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background-color: #ff0012;
    content: "";
    margin-right: 5px;
}





/* ----------------------------------   Error   ---------------------------------- */
.error {
    position: fixed;
    top: 70px;
    right: 0;
    line-height: 25px;
    padding: 20px;
    color: #800000;
    background: #ff7171;
    text-align: center;
}

.error span {
    cursor: pointer;
    font-weight: bold;
}

.error span:hover {
    color: white;
}