/* backgroundcolor from the Main Page */
html, body {
    background: #dfdfdf;
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;   /* hide the scrollbar, if content grows over the page size */
}

nav, section, footer {display: block;}

/* adjustments for all Elements - set the default parameters for all browsers to Null*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* ----------------------------------   Image   ---------------------------------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* ----------------------------------   Footer   ---------------------------------- */

footer {
    padding: 10px;
    color: #fff;
    position:absolute;         /*fixed the Footerbar on the Bottom*/
    bottom: 0;
    height:40px;
    width: 100%;
    background: #334D66;
    z-index: 1;             /* Layer Position in Z-Direction - 1 = second Layer*/
}

div#FooterLeft {
    float: left;
    width: 33%;
}

div#FooterLeft a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

div#FooterMiddle{
    float: left;
    width: 34%;
    text-align: center;
    font-size: 16px;
}

div#FooterMiddle img{
    height: 16px;
    margin-bottom: -2px;    /* Fix --> img same line as text*/
}

div#FooterRight{
    float: right;
    width: 33%;
}

div#FooterRight a img {
    height: 16px;
    margin-left: 10px;
}

/* ----------------------------------   Content   ---------------------------------- */
div#Content {
    background: #ffffff;
    top: 60px;
    height: calc(100% - 100px); /* calculate the Height from the Contentfield - Size from the Window - (height Nav-Bar + height Footer) */
    position: relative;
    overflow: auto;
    padding: 30px 25px 50px 25px;
}

div#Content ul{
    list-style-type: disc;
    margin-top: 15px;
    margin-left: 36%;
}

div#Content div {
    margin-left: 50px;
    margin-right: 50px;
}

div#Content div a{
    text-align: justify;
}

div#Content div h1{
    margin: 20px;
}

div#Content p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

/* ----------------------------------   Content Events   ---------------------------------- */

/*Bin noch am testen, ich versuche so viel wie möglich selbst raus zu finden und so wenig wie möglich zu googlen, deswegen sieht das alles vielleicht nicht ganz so geil aus*/

div#ContentEvents{
    background-color: #BDBDBD !important;
    height: 25% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 10px;
}

div#ContentEvents img{
    padding: 1%;
    height: 100%;
}

div#ContentEvents a{
    margin: 1% ;
    text-decoration: none;
    color: black;
    width: 60%;
}

div#ContentEvents p{
    padding: 1%;
    width: 70%;
}
/* ----------------------------------   Site - Picture   ---------------------------------- */
div#SitePicture {
    top: 60px;
    height: calc(100% - 100px); /* calculate the Height from the Picture - Size from the Window - (height Nav-Bar + height Footer) */
    position: relative;
    overflow:hidden;
    width:30%;
    float: left;
}

div#SitePicture img {
    height: 100%;
    width: 100%;
}
/* ----------------------------------   Animation  ---------------------------------- */
.fadeInIndexPage {
    animation: animationFadeIn ease 3s;
}

.fadeIn {
    animation: animationFadeIn ease 3s;
}

.fadeIn h1 {
    text-align: center;
}

.fadeInImg {
    animation: animationFadeIn ease 1.5s;
}

@keyframes animationFadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* ----------------------------------   Formularfelder  ---------------------------------- */
form {
    width: 80%;
    max-width: 40em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

form h1{
    text-align: center;
}

form h5{
    text-align: center;
}

form img{
    float: right;
    margin-top: 20px;
}

form a{
    font-size: 16px;
    text-align: right;
    float: right;
    color: black;
    text-decoration: none;  /* delete underline from the links */
    padding: 10px 0 10px;
}

form button{
    font-size: 16px;
    text-align: center;
    float: right;
    background-color: #003F70;
    margin: 5px 0 5px 10px;
    padding: 10px;
    text-decoration: none;  /* delete underline from the links */
    color: white;
    border-radius:10px;

}

form button:hover{

    color: #60B0FF;
}

form i{
    color: #60B0FF;
    margin-left: 5px;
}

form a:hover  {
     color: #60B0FF;
 }

form input, form textarea {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 12px 20px;
    margin: 5px 0 5px;
    /*box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);*/
    border-style: solid;
    border-width: 1px;
    border-color: #CECECE;
    border-radius: 3px;
}

form input:hover{
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);

}

form input:focus{
    border-left: solid;
    border-left-width: 4px;
    border-left-color: #2e62ff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

form textarea {
    height: 300px;
    resize: vertical;
}

/* redesign the Date-Type for Input-Fields */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

form label {
    float: left;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
}


/* ----------------------------------   Tabelle   ---------------------------------- */

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto 0 auto;
    border-style: groove;
    border-width: 1px;

}

th, td {
    text-align: center;
    padding: 8px;
}

tr:hover, tr:nth-child(even):hover{
    background-color: #60B0FF;
    color:white;
 }

tr:nth-child(even){
    background-color: #f2f2f2
}

th {
    background-color: #334D66;
    color: white;
}

table input{
    display: inline;
    padding: 5px;
}

table input:hover{
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}

