nav {
    overflow: hidden;
    background-color: var(--secondary-bg-color);
    padding-right: 20px;    /* margin to the right side, to get space for the submenue */
    width:100%;
    float:right;
    display: block;
}

.navfloat{
    float:right;
}

nav a {
    float: left;
    display: block;
    color: var(--secondary-text-color);
    text-align: center;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    color: var(--secondary-text-color);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 60px;
    width: 70px;
}

nav a, .dropbtn {
    padding: 18px 20px;          /* space around the boxes */
    height: 60px;
}

.dropdown-content {
    display: none;
    width:180px;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    margin-left: -110px;
    height: 55px;
}

.dropdown-content a {
    float: none;
    background-color: var(--secondary-bg-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 80%;
}

.dropdown form{
    width: 100%;
}

.dropdown i{
    color: var(--secondary-text-color);
}

.dropdown form input:focus, .dropdown form select:focus{
    border: 0;
    box-shadow: none;
}


nav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover, .dropdown-content input:hover {
    background-color: var(--hover-color);
    color: var(--secondary-text-color);
}

.dropdown:hover .dropdown-content {
    display: block;

}

input#responsive-nav,
label.responsive-nav-label {
    display: none;
}


/* ----------------------------------   Navigationbar #Content   ---------------------------------- */
/* Topic inside the Navigationbar */
.NavContent {
    display: block;
    height: 60px;
    font-size: 2em; /* TODO: ggf entfernen*/
    white-space: nowrap;
    padding: 10px;
    margin-left: 10px;
    width:100%;
}


.NavContent h4{
    vertical-align: 9px;
    display: inline;
    margin-left: 10px;
    color: var(--secondary-text-color);
}

.NavContent img {
    display: inline;
    height: 100%;
}

.NavContent a {
    display: inline;
    text-decoration: none;  /* delete underline from the links */

}

/* color selected navigation section */
.NavContent :hover {
    color: var(--hover-color);            /* set the font color from the links */
}

