.topnav {
    overflow: hidden;
    background-color: #334D66;
    padding-right: 20px;    /* margin to the right side, to get space for the submenue */
    width:100%;
    float:right;
    display: block;
}

.topnavfloat{
    float:right;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    height: 100%;

}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 100%;
    width: 70px;
}

.topnav a, .dropbtn {
    padding: 20px;          /* space around the boxes */
}

.dropdown-content {
    display: none;
    width:180px;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    z-index: 1;
    margin-left: -110px;

}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.topnav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
    background-color: #60B0FF;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;

}


/* ----------------------------------   Navigationbar #Content   ---------------------------------- */
/* Topic inside the Navigationbar */
.NavContent {
    display: block;
    height: 60px;
    font-size: 2em;
    color:white;
    white-space: nowrap;
    padding: 10px;
    margin-left: 10px;
    width:100%;
}

.NavContent h4{
    vertical-align: 9px;
    display: inline;
    margin-left: 10px;
}

.NavContent img {
    display: inline;
    height: 100%;
}

.NavContent a {
    display: inline;
    text-decoration: none;  /* delete underline from the links */
    color: white;
}

/* color selected navigation section */
.NavContent a:hover {
    color: #60B0FF;            /* set the font color from the links */
}
