/* ----------------------------------   Navigationbar   ---------------------------------- */
nav {
    position:absolute;
    width: 100%;
    height: 60px;
    background: #334D66;    /* backgroundcolor from the navigation bar */
    font-size: 16px;
    z-index: 1;             /* Layer Position in Z-Direction - 1 = second Layer*/
}

nav a {
    display: block;
    color: #fff;            /* set the font color from the links */
    text-decoration: none;  /* delete underline from the links */
    padding: 20px;          /* space around the boxes */
    height: 100%;           /* height from the Navigationbar */

}

nav ul {
    float: right;           /* put the Nav to the right side */
    height: 100%;           /* height from the Navigationbar */
    margin-right: 100px;    /* margin to the right side, to get space for the submenue */
}

nav ul li {
    position: relative;
    float: left;        /* set the Meue horizontal and from left to right */
    list-style: none;   /* delete list Points */
    transition: 0.3s;   /* color fade-in */
    height: 100%;       /* height from the Navigationbar */
}

nav ul li:hover{            /* hover over the main Nav Items */
    background: #60B0FF;
    height: 100%;

}

/* Submenue */
nav ul li ul{
    display:none;           /* dont show the submenue */
    position: absolute;     /* put the submenue absolute to the main Item freom the navigationbar */
    height: 100%;
}

nav ul li:hover > ul{       /* hover over the Items from the submenue */
    display:block;
    height: 70%;
}

nav ul li ul li{
    width: 200px;
    background: #334D66;    /* backgroundcolor from the submenue */
}

nav ul li ul li a{      /* ref links from the submenue */
    padding: 10px;      /* space around the boxes */
}

/* ----------------------------------   Navigationbar #Content   ---------------------------------- */
/* Topic inside the Navigationbar */
div#NavContent {
    height: 60px;
    font-size: 25px;
    color:white;
    white-space: normal;
    overflow: hidden;
}

div#NavContent img {
    height: 100%;
    vertical-align: middle;
    padding: 5px;

}

div#NavContent a {
    display: inline;
    text-decoration: none;  /* delete underline from the links */
    vertical-align: middle;
}

/* color selected navigation section */
div#NavContent a:hover {
    background: none;
    color: #b3d2ff;            /* set the font color from the links */
}