@media(max-width: 850px) {
    /* ----------------------------------   Navigation   ---------------------------------- */
    nav{
        padding-right: 0;    /* margin to the right side, to get space for the submenu */
        overflow: auto;
    }

    .navfloat{
        display: none;
        float: none;
    }

    label.responsive-nav-label {
        text-align: right;
        display: block;
        padding: 20px;
        cursor: pointer;
        color: #fff;
    }

    nav a, .dropdown {
        float: none;
        display: block;
        width:100%;
        text-align: left;
    }

    .dropdown .dropbtn {
        width:100%;
        text-align: left;
    }

    .dropdown-content {
        margin-left: auto;
        width: 100%;
    }

    input#responsive-nav[type=checkbox]:checked ~ .navfloat{
        display: block;
    }

    div#FooterLeft {
        width: 70% !important;
    }

    div#FooterMiddle{
        display: none !important;
    }

    div#FooterRight{
        width: 30% !important;

    }

    /* ----------------------------------   Site - Picture   ---------------------------------- */
    .SitePicture {display: none ;}

    /* ----------------------------------  NavContent   ---------------------------------- */
    .NavContent {font-size: 1.8em;}
}

/* ----------------------------------   pictureRaster   ---------------------------------- */
@media (max-width: 1200px){.pictureRaster ul{grid-template-columns: repeat(auto-fill, calc(100% / 3));}}    /* 3 Columns */
@media (max-width: 950px) {.pictureRaster ul{grid-template-columns: repeat(auto-fill, calc(100% / 2));}}    /* 2 Columns */
@media (max-width: 700px) {.pictureRaster ul{grid-template-columns: repeat(auto-fill, 100%);}}              /* 1 Column  */

